body{
    background-color: #dfebdf;
}
nav {
    width:fit-content;
    
   
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 400px;
    right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #232222;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #00ff00;
}
body {
    position: relative;}
#about {
   
    padding: 20px;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    
}
.flex-container {
    display: flex;
    justify-content: space-between; 
     
}
.descr {
    flex: 1;
    width: 30em; 
    height: 20em; 
    margin-top: 4em; 
    border-radius: 20px;
    background-color: #6e946e;
    padding: 2em; 
}

.descr h2 {
    font-family: 'cursive', cursive; 
    font-size: 2em; 
    color: #333; 
    margin-bottom: 1em;
}

.descr p {
    font-family: 'cursive', cursive; 
    font-size: 1.5em; 
    color: #555; 
}


.picture {
    text-align: right;
    flex: 1; 
}

.picture img {
    width: 400px;
    max-width: 100%;
    top: 0;
    padding-top: 0;
}


section {
    padding: 20px;
   
    margin: 20px;
}
/* Hide sections with the .hidden class */
.hidden {
    display: none;
}


.chart {
    width: 300px;
    margin: 20px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.skill-name {
    font-weight: bold;
}


.progress-bar {
    width: 100px;
    background-color: #ddd; 
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}




